---
const props = Astro.props;
const { buttonId, text, outline = false, action, value, type = "button" } = Astro.props;
---
<button
{...props}
id={buttonId}
type={type}
  class={outline ? 'btn-outline-pink' : 'btn'} 
  data-action={action}
  data-value={value}
>
  {text}
</button>

<style>
button {
  background: #e98989;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: 0.2s;
}
button:hover {
  transform: scale(1.05);
}
.btn-outline-pink {
  background: white;
  color: #e98989;
  border: 2px solid #e98989;
}
</style>
